*.tar.gz

*.exe
src/cryptotarget100M
src/cryptotarget100Md
src/cryptotarget100M-cli
src/test/test_cryptotarget100M
src/qt/test/test_cryptotarget100M-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/cryptotarget100M-config.h
src/cryptotarget100M-config.h.in
src/build-aux/
src/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.cryptotarget100M
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
cryptotarget100M-qt
Cryptotarget100M-Qt.app

# Unit-tests
Makefile.test
cryptotarget100M-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_cryptotarget100M.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-cryptotarget100Md-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile
